.contacts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 25px;
  gap: 40px;

  & h3 {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #222935;
  }
}

.link {
  color: #667081;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
}
