@import "_variables.scss";
@import "_mediaQuery.scss";

.main {
  display: flex;

  &--sidebar {
    z-index: 2;
  }
}

.container {
  transition: margin-left 0.5s ease-in-out;
  margin-left: 18rem;
  margin-right: 3rem;
  overflow: hidden;
  z-index: 1;

  @include tablet {
    margin-left: 6rem;
  }
}

.container.collapsed {
  margin-left: 30px;
  @include tablet {
    margin-left: 3rem;
  }
}

.back-to-top-button {
  width: 35px;
  height: 35px;
  background-color: $secondary-color;
  position: fixed;
  right: 48px;
  bottom: 1px;
  color: #fff;
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  &:hover {
    background-color: $secondary-color;
  }
  @include tablet {
    right: 15px;
  }
}
