@import "_variables.scss";
@import "_mediaQuery.scss";

.nav {
  color: #667081;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 2rem;
  @include tablet {
    padding: 0;
  }
}
.nav-list {
  display: flex;
  gap: 36px;
  flex-direction: column;
  @include tablet {
    align-items: center;
  }
}

.nav-list a:hover {
  color: $primary-color;
}

.nav-text {
  @include tablet {
    display: none;
  }
}

.active {
  color: $primary-color;
}

.nav-item-wrapper {
  display: flex;
  gap: 20px;
}
