@import "_variables.scss";
@import "_mediaQuery.scss";
.photo-box {
  display: flex;
  flex-direction: column;

  &__class2 {
    font-size: 1.7rem;
    font-weight: 40rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    letter-spacing: 0em;
    text-align: center;
    color: $white-color;
  }
  .myimage {
    width: 163px;
    height: 163px;
    border-radius: 50%;
    border: 1px solid $white-color;
    margin-bottom: 10px;
    margin-top: 130px;
    align-self: center;
  }
  p {
    font-size: 16px;
    font-weight: 330;
    line-height: 21px;
    letter-spacing: 1px;
    text-align: center;
    color: $white-color;
    margin-bottom: 15px;
  }
}
