@import "_mediaQuery.scss";
@import "_variables.scss";

.portfolio-box {
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
  &__item {
    background-size: cover;
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    &:hover {
      .portfolio-box__item-overlay {
        opacity: 1;
        transform: translateY(0);
      }
    }
    img {
      width: 100%;
      height: 20rem;
      display: block;
      background-size: cover;
      object-fit: cover;
    }
    &-overlay {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(38, 193, 126, 0.878);
      cursor: pointer;
      opacity: 0;
      padding: 0.6rem 2rem;
      color: white;
      transition: opacity 0.3s, transform 0.3s;
      transform: translateY(100%);
      h1 {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        text-align: center;
      }
      a {
        color: white;

        padding: 5px 10px;
        border: 1px solid white;
        border-radius: 5px;
        &:hover {
          background: white;
          color: rgba(38, 193, 126, 0.878);
        }
      }
    }
  }
}
.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .tabs-item {
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  .tabs-item.active {
    color: blueviolet;
  }
}
@include tablet {
  .portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
}
