.button {
  display: inline-flex;
  height: 40px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #222935;
  border-radius: 5px;
  transition: 150ms;
}
.button .button__icon {
  color: white;
}
.button .button__text {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 1px;
}
.button :hover {
  background-color: #26c17e;
}

.skills-section {
  padding: 0 10px;
  margin-bottom: 50px;
}
.skills-section .skills-head {
  display: flex;
  justify-content: space-between;
  align-items: row;
  flex-direction: flex-start;
}
.skills-section .skills-head h2 {
  color: #26c17e;
  margin-bottom: 40px;
  font: 700 25px/30px "Open Sans", sans-serif;
}
.skills-section .skills-head .button {
  display: flex;
  justify-content: center;
  align-items: row;
  flex-direction: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  border: none;
  padding: 0px 20px;
  gap: 10px;
  background-color: #222935;
  border-radius: 5px;
  transition: 200ms;
  cursor: pointer;
}
.skills-section .skills-head .button .button__text {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 1px;
}
.skills-section .skills-head .button:hover {
  background-color: #26c17e;
}
.skills-section .skills-edit-container {
  border: 1px solid #26c17e;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 40px;
}
.skills-section .skills-edit-container .error-message {
  color: red;
  font-size: 14px;
  margin-top: -15px;
  margin-bottom: 3px;
}
.skills-section .skills-edit-container .skill-name,
.skills-section .skills-edit-container .skill-range {
  margin-bottom: 20px;
}
.skills-section .skills-edit-container .skill-name label,
.skills-section .skills-edit-container .skill-range label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-right: 2%;
}
.skills-section .skills-edit-container .skill-name input,
.skills-section .skills-edit-container .skill-range input {
  width: 90%;
  max-width: 270px;
  height: 40px;
  flex-shrink: 0;
  border: 1px solid #667081;
  border-radius: 5px;
  padding-left: 10px;
}
.skills-section .skills-edit-container .skill-name input::-moz-placeholder, .skills-section .skills-edit-container .skill-range input::-moz-placeholder {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.skills-section .skills-edit-container .skill-name input::placeholder,
.skills-section .skills-edit-container .skill-range input::placeholder {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.skills-section .skills-edit-container .add-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: #222935;
  border-radius: 5px;
  transition: 200ms;
  cursor: pointer;
  color: white;
  transition: 250ms;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 1px;
}
.skills-section .skills-edit-container .add-skill:hover {
  background-color: #26c17e;
}
.skills-section .skills-list-container {
  width: 100%;
  margin-bottom: 30px;
}
.skills-section .skills-list-container .skills-list .skill {
  background-color: #26c17e;
  width: 10%;
  height: 29px;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.skills-section .skills-list-container .skills-list .skill span {
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 15px;
}
.skills-section .skills-levels {
  height: 30px;
  border-top: 1px solid #667081;
}
.skills-section .skills-levels .borders {
  position: relative;
  justify-content: space-between;
  display: flex;
  bottom: 10px;
}
.skills-section .skills-levels .borders .span1 {
  width: 1px;
  height: 10px;
  border-left: 1px solid #667081;
  flex-grow: 2;
}
.skills-section .skills-levels .borders .span2 {
  flex-grow: 3;
  width: 1px;
  height: 10px;
  border-left: 1px solid #667081;
  position: relative;
  left: 54px;
}
.skills-section .skills-levels .borders .span3 {
  flex-grow: 3;
  width: 1px;
  height: 10px;
  border-right: 1px solid #667081;
  position: relative;
  right: 30px;
}
.skills-section .skills-levels .borders .span4 {
  flex-grow: 2;
  width: 1px;
  height: 10px;
  border-right: 1px solid #667081;
}
.skills-section .skills-levels .levels {
  position: relative;
  justify-content: space-between;
  display: flex;
}
.skills-section .skills-levels .levels .beginner {
  flex-grow: 1;
}
.skills-section .skills-levels .levels .proficient {
  flex-grow: 3;
}
.skills-section .skills-levels .levels .export {
  flex-grow: 3;
}
.skills-section .skills-levels .levels .master {
  flex-grow: 1;
  text-align: right;
}/*# sourceMappingURL=skilss.css.map */